<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    {{ range $_, $href := .Assets.Styles}}
    <link rel="stylesheet" href="{{$href}}">
    {{ end }}
    <link rel="stylesheet" href="{{.Assets.FontsURL}}">
</head>
<body>
    <div class="nav" id="nav-site-pages">
        <ul>
            <li class="posts"><a href="/posts">Posts</a></li>
            <li class="resume"><a href="#">Resume</a></li>
            <li class="projects"><a href="#">Projects</a></li>
            <li class="about"><a href="/about">About</a></li>
        </ul>
    </div>
    <div class="container centered">
        <img class="avatar" src="{{.Assets.Images.Portrait}}" alt="photo" width="128">
        <div class="topmost">
            <div class="text">
                <div class="title">Ilia Zaitsev</div>
                <div class="subtitle">{Machine Learning Engineer &amp; AI Enthusiast}</div>
            </div>
        </div>
    </div>
    <article class="about">
        Working with Deep Learning on a daily basis. Professionally write in Python,
        experimenting with Go as a hobbyist. Very eager about Computer Vision algorithms and
        Data Science competitions. Slowly shifting myself into Self-Driving Cars development
        and Robotics. Every once in a while writing technical posts.
    </article>
    <article class="about">
        Please don't hesitate to contact me via links above, or just write an email. I'll try
        to respond whenever have spare time :)
    </article>
</body>