{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template "title" }}</title>
    {{ range $_, $href := .Assets.Styles}}
    <link rel="stylesheet" href="{{$href}}">
    {{ end }}
    <link rel="stylesheet" href="{{.Assets.FontsURL}}">
    <link rel="stylesheet" href="{{.Assets.SyntaxHighlightTheme}}">
</head>
<body onload="setup()">
    <div class="topmost">
        <div class="text">
            <div class="title">Ilia Zaitsev</div>
            <div class="subtitle">{Machine Learning Engineer &amp; AI Enthusiast}</div>
        </div>
    </div>
    <div class="nav" id="nav-site-pages">
        <ul class="website-pages">
            <li class="website posts selected"><a href="/posts">Posts</a></li>
            <li class="website resume"><a href="{{.Assets.ResumeLink}}">Resume</a></li>
            <li class="website tips"><a href="/tips">Tips</a></li>
            <div class="networking">
                <li>
                    <a href="https://github.com/devforfu">
                        <img class="icon" src="{{.Assets.Images.NetworkGithub}}" alt="GitHub">
                    </a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/6619344/devforfu">
                        <img class="icon" src="{{.Assets.Images.NetworkStackOverflow}}" alt="Stack Overflow">
                    </a>
                </li>
                <li>
                    <a href="https://medium.com/@iliazaitsev">
                        <img class="icon" src="{{.Assets.Images.NetworkMedium}}" alt="Medium">
                    </a>
                </li>
                <li>
                    <a href="https://www.upwork.com/freelancers/~01d11961a8111e5d25">
                        <img class="icon" src="{{.Assets.Images.NetworkUpwork}}" alt="Upwork">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ilia-zaitsev/">
                        <img class="icon" src="{{.Assets.Images.NetworkLinkedIn}}" alt="LinkedIn">
                    </a>
                </li>
            </div>
        </ul>
    </div>
    {{ template "content" . }}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{.Assets.JS.Main}}"></script>
    <script type="text/javascript">
        (function(window, document, dataLayerName, id) {
            window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
            function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
            var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
            var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
            tags.async=!0,tags.src="https://devforfu.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
            !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
        })(window, document, 'dataLayer', '93726d3a-3244-46a1-8ac1-37f4cca53dd6');
    </script>
</body>
</html>
{{ end }}