{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template "title" }}</title>
    {{ range $_, $href := .Assets.Styles}}
    <link rel="stylesheet" href="{{$href}}">
    {{ end }}
    <link rel="stylesheet" href="{{.Assets.FontsURL}}">
    <style>
        .background {
            background: white url("{{.Assets.Images.TopHeaderBackground}}");
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>
<body>
    <div class="topmost">
        <div class="text">
            <div class="title">Ilia Zaitsev</div>
            <div class="subtitle">{Machine Learning Engineer &amp; AI Enthusiast}</div>
        </div>
    </div>
    <div class="nav" id="nav-site-pages">
        <ul>
            <li class="posts"><a href="/posts">Posts</a></li>
            <li class="resume"><a href="#">Resume</a></li>
            <li class="projects"><a href="#">Projects</a></li>
            <li class="about"><a href="/about">About</a></li>
        </ul>
    </div>
    {{ template "content" . }}
    <script>
        function addSyntaxHighlight() {
            const items = document.getElementsByTagName("pre");
            for (const item of items) {
                item.classList += " prettyprint";
            }
        }
        addSyntaxHighlight();
    </script>
</body>
</html>
{{ end }}