{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template "title" }}</title>
    {{ range $_, $href := .Assets.Styles}}
    <link rel="stylesheet" href="{{$href}}">
    {{ end }}
    <link rel="stylesheet" href="{{.Assets.FontsURL}}">
</head>
<body onload="setup()">
    <div class="topmost">
        <div class="text">
            <div class="title">Ilia Zaitsev</div>
            <div class="subtitle">{Machine Learning Engineer &amp; AI Enthusiast}</div>
        </div>
    </div>
    <div class="nav" id="nav-site-pages">
        <ul class="website-pages">
            <li class="posts selected"><a href="/posts">Posts</a></li>
            <li class="resume"><a href="#">Resume</a></li>
            <li class="projects"><a href="#">Projects</a></li>
            <div class="networking">
                <li>
                    <a href="https://github.com/devforfu">
                        <img class="icon" src="{{.Assets.Images.NetworkGithub}}" alt="GitHub">
                    </a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/6619344/devforfu">
                        <img class="icon" src="{{.Assets.Images.NetworkStackOverflow}}" alt="Stack Overflow">
                    </a>
                </li>
                <li>
                    <a href="https://medium.com/@iliazaitsev">
                        <img class="icon" src="{{.Assets.Images.NetworkMedium}}" alt="Medium">
                    </a>
                </li>
                <li>
                    <a href="https://www.upwork.com/freelancers/~01d11961a8111e5d25">
                        <img class="icon" src="{{.Assets.Images.NetworkUpwork}}" alt="Upwork">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ilia-zaitsev/">
                        <img class="icon" src="{{.Assets.Images.NetworkLinkedIn}}" alt="LinkedIn">
                    </a>
                </li>
            </div>
        </ul>
    </div>
    {{ template "content" . }}
    <script src="{{.Assets.JS.Main}}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script>
        function addSyntaxHighlight() {
            const items = document.getElementsByTagName("pre");
            for (const item of items) {
                item.classList += " prettyprint";
            }
        }
        addSyntaxHighlight();
    </script>
</body>
</html>
{{ end }}