{{ define "title" }}Posts{{ end }}
{{ define "content" }}
<div class="container">
    {{ $assets := .Assets }}
    {{ range .Posts }}
    <div class="post">
        <a class="post-title link-muted" href="{{.URL}}">{{.Preamble.Title}}</a>
        <div class="post-timestamp">
            Publication Date: {{.VerbosePublicationDate}}
        </div>
        <div class="post-digest">
            {{.Digest}}
        </div>
        {{ if .IsForeign }}
        <img class="post-foreign-logo" src="{{index $assets.Images .Logo}}" height="30">
        {{ end }}
{{/*        <div class="post-footer text-muted">*/}}
{{/*        {{ if .IsForeign }}*/}}
{{/*            <img class="post-foreign-logo" src="{{index $assets.Images .Logo}}" height="30">*/}}
{{/*        {{ end }}*/}}
{{/*        </div>*/}}
    </div>
    {{ end }}
</div>
{{ end }}