{{ define "title" }}Posts{{ end }}
{{ define "content" }}
<div class="container">
    {{ range .Posts }}
    <div class="post" href="{{.URL}}" foreign="{{.IsForeign}}">
        <div class="post-block">
            {{.Digest}}
        </div>
        <div class="post-footer text-muted">
        {{ if .IsForeign }}
            <img src="{{.Logo}}" style="display: inline; float: left;" height="30">
        {{ end }}
            <div class="post-timestamp">
                Publication Date: {{.VerbosePublicationDate}}
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}