.avatar {
   border-radius: 50%;
}

.container.centered {
   margin: 2em;
   text-align: center;
}

article.about {
   text-align: justify;
   color: #303030;
   font-size: 1.1em;
   font-family: "Ubuntu", sans-serif;
   margin-left: 2em;
   margin-right: 2em;
   margin-bottom: 1.5em;
   list-style: none;
}

.about li:not(:last-child) {
   margin-bottom: 5px;
}