/* ---------- */
/* Navigation */
/* ---------- */

.nav {
    height: 2em;
    font-size: 1.1em;
}

.nav ul.website-pages {
    list-style: none;
    display: block;
    width: 100%;
    float: left;
}

.nav ul.website-pages li {
    display: inline-block;
    margin-right: 2em;
}

.nav ul.website-pages a {
    display: block;
    color: #303030;
}

.nav ul.website-pages a, .nav a:hover {
    text-decoration: none;
}

.nav ul.website-pages .networking {
    float: right;
}

.nav ul.website-pages li.selected {
    border-bottom: black 1px dashed;
}

.networking .icon {
    width: 28px;
}
