/* ---------- */
/* Navigation */
/* ---------- */

.nav {
    height: 2em;
}

.nav ul.website-pages {
    list-style: none;
    display: block;
    width: 100%;
    /*background: #3c3c3c;*/
    float: left;
}

.nav ul.website-pages li {
    display: inline-block;
    margin-right: 2em;
}

.nav ul.website-pages a {
    display: block;
    color: #303030;
}

.nav ul.website-pages a, .nav a:hover {
    text-decoration: none;
}

.nav ul.website-pages .networking {
    float: right;
}

.nav ul.website-pages li.selected {
    border-bottom: black 1px dashed;
}


/*.nav ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    text-align: center;*/
/*    list-style: none;*/
/*    background: #3c3c3c;*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/

/*.nav li {*/
/*    padding: 0;*/
/*    display: inline-block;*/
/*    width: 120px;*/
/*    line-height: 50px;*/
/*    font-size: 1.4em;*/
/*    font-family: "Ubuntu Mono", monospace;*/
/*    margin: 0 -4px 0 0;*/
/*}*/

/*.nav a {*/
/*    display: block;*/
/*    color: whitesmoke;*/
/*}*/

/*.nav a:hover,*/
/*.nav a.active {*/
/*    background: darkorange;*/
/*    color: ghostwhite;*/
/*}*/

/*.nav a, .nav a:hover {*/
/*    text-decoration: none;*/
/*}*/