/* ----------- */
/* Page Header */
/* ----------- */

.topmost {
    height: 150px;
    text-align: center;
    position: relative;
}

.topmost .text, .topmost .image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.topmost .title {
    padding-top: 20px;
    font-size: 4em;
    font-family: "Coda", cursive;
    line-height: 1em;
    color: ghostwhite;
}

.topmost .subtitle {
    padding-bottom: 20px;
    font-size: 1.2em;
    font-family: "Space", monospace;
    color: ghostwhite;
}