/* ------------------- */
/* Posts Preview Cards */
/* ------------------- */

.post {
    background: white;
    padding: 1em;
    margin-top: 1em;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

.link-muted {
    color: inherit;
    text-decoration: none;
}

.post .post-digest {
    font-size: 1.2em;
    font-family: "Source Serif Pro", serif;
}

.post .post-title, .post-page .post-title {
    color: #414eb4;
    font-size: 1.5em;
    font-family: "Oswald", serif;
}

.post .post-timestamp {
    font-family: "Source Serif Pro", serif;
    font-size: 0.9em;
    color: #36373c;
    font-weight: bold;
}

.post code {
    border-radius: 4px;
    padding: 1px;
    margin: 1px;
    background: #e3e3e3;
    color: #3c3c3c;
    border: lightgray solid 1px;
}

.post-page .post-content {
    font-size: 1.2em;
}

/* ------------- */
/* Posts content */
/* ------------- */

.post-page {
    margin-top: 2%;
    font-family: "Source Serif Pro", sans-serif;
    text-align: justify;
    padding-bottom: 2%;
}

.post-page pre.prettify {
    margin: 0;
}

.post-page .post-title {
    text-align: center;
}

.post-page .list-of-contents ul {
    list-style: none;
}

.post-page .list-of-contents a:hover {
    color: goldenrod;
}

.post-page .list-of-contents .list-item-wrapper {
    position: relative;
    left: -40px;
}

.post-page .header {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: bold;
}

.post-page .dots {
    display: block;
    width: 100%;
    text-align: center;
}

.post-page blockquote {
    margin: 0;
    border-left: 0.25em solid;
    padding-left: 0.5em;
}

.post-page blockquote.warning {
    border-color: orangered;
}

.post-page blockquote.tip {
    border-color: dodgerblue;
}

.post-page .post-content p a, .post-page .post-content blockquote a {
    color: inherit;
}

.post-page .post-content a {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.post-page .post-content div.list-of-contents a {
    border-bottom: 0;
}

.post-page .post-content p a:hover, .post-page .post-content blockquote a:hover {
    color: goldenrod;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.post-page .post-content table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
}

.post-page .post-content table tr {
    border: 1px solid #ddd;
}

tr .highlight {
    color: #fc1d3f;
}

/* ---------------- */
/* Comments section */
/* ---------------- */

.utterances-frame {
    margin-left: -2em;
}

/* ------------------------- */
/* Width-specific properties */
/* ------------------------- */

@media (max-width: 800px) {
    .post, .post-page {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 801px) and (max-width: 1980px) {
    .post, .post-page {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width: 1981px) and (max-width: 2560px) {
    .post, .post-page {
        margin-left: 30%;
        margin-right: 30%;
    }
}