/* ------------------- */
/* Posts Preview Cards */
/* ------------------- */

.post {
    background: white;
    padding: 1em;
    border: 1px solid #404040;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.link-muted {
    color: inherit;
    text-decoration: none;
}

.post .post-digest {
    font-family: "Roboto", serif;
}

.post .post-title, .post-page .post-title {
    color: #414eb4;
    font-size: 1.5em;
    font-family: "Oswald", serif;
}

.post code {
    border-radius: 4px;
    padding: 1px;
    margin: 1px;
    background: #e3e3e3;
    color: #3c3c3c;
    border: lightgray solid 1px;
}

/* ------------- */
/* Posts content */
/* ------------- */

.post-page {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

.post-page pre.prettify {
    margin: 0;
}