/* ------------------- */
/* Posts Preview Cards */
/* ------------------- */

.post {
    background: white;
    padding: 1em;
    border: 1px solid #404040;
    margin-top: 1em;
}

.link-muted {
    color: inherit;
    text-decoration: none;
}

.post .post-digest {
    font-family: Ubuntu, serif;
}